@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #faeeee;
    font-family: "Tektur", sans-serif;
    margin: 5%;
    line-height: 1.6;
}

main{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(28,123,54,0.1);
}

header{
    text-align: center;
    color: rgb(88,195,227);
    padding: 20px 0;
    border-radius: 8px 8px 0px;
    background-image: url(./imagenes/gettyimages-1316572851-640x640.jpg);
    background-size: none;
    background-repeat: no-repeat;
    background-position: center;
    
}
figure img{
    height: 200px;
    width: 300px;
}